.nav-list{
    display: flex;
    justify-content: space-between;
}

.banner-img img{
    width: 50%;
}
.banner-img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}